// Calendar related styles

// cal stands for calendar

.cal{
	
	&-wrapper{
		
		float: left;
		width: 80%;
	}
	
	&-weekdays{
	
		margin: 0;
		height: 22px;
		padding-top: 20px;
		

		li{
			list-style-type: none;
			float: left;
			display: block;
			margin-bottom: 7px;
			margin-right: -1px;
			overflow: visible !important;
			width: 14.2%;
			border: medium none !important;
			color: #808080;
			font-size: 15px;
			font-weight: normal;
			line-height: 19px;
			padding-left: 50px;
			text-transform: uppercase;
		}
	}
	
	&-daycells{
		
		margin: 0;
		padding:0 0 0 15px;
				
		li{
			
			list-style-type: none;
			border: 1px solid #dfdfdf;
			display: block;
			float: left;
			margin-bottom: -1px;
			margin-right: -1px;
			overflow: visible !important;
			width: 14%;
			height: 105px;
			position: relative;
			
			&.inactive{
				background-color: #F3F3F3;
			}
			
			a{
				color: #555555;
				font-size: 12px;
				position: absolute;
				right: 7px;
				text-decoration: none;
				top: 3px;
				cursor: pointer;
			}
			
			i{
				right: 0;
				bottom: 0;
				color: #8DACC4;
				font-size: 11px;
				top:-3px;
				left: 130px;
				cursor: pointer;
			}
		}
	}
	
	
	&-events{
		
		padding-top: 7px;
		span{
			
			display: block;
			float: left;
			
			&:first-child{
				
				height: 15px;
				width: 7px;
				
			}
			
			&:last-child{
				
				margin-top: -2px;
				padding-left: 5px;
				overflow: hidden;
				white-space: nowrap;
				max-width: inherit;
				text-overflow: ellipsis;
				width: 130px;
				font-size: 14px;
			}
			
			
		}
		
		&-wrapper{
			
			padding-top: 10px;
		}
	}
	
}

