	<li data-ng-class="{inactive : days.state == 'I'}" data-ng-repeat="days in cal.calendar">
	
		<a>{{ days.daynum }}</a>
		
		<div class="cal-events-wrapper">

			<div class="cal-events clearfix" data-ng-repeat="eve in days.events | limitTo: cal.eventsPerCell">
				<span style="background-color: {{ eve.Color }};"></span>
				<span data-ng-bind="eve.Title" ></span>
			</div>
			
		</div>
		
		<i class="glyphicon glyphicon-plus" data-ng-if="days.events.length > cal.eventsPerCell"></i>
		
	</li>
	

<!--<div class="cal-events clearfix">
		<span></span>
		<span>This is for testing</span>
	</div>

	<div class="cal-events clearfix">
		<span style="background-color: #FF00FF;"></span>
		<span>This is for testing</span>
	</div>-->