<div class="sb-wrapper">
<!--<div class="checkbox checkbox-mycal">
	<input type="checkbox" id="cat-sel-all" name="cat-sel-all">
	<label for="cat-sel-all"> Select All </label>
</div>-->

	<ul class="sb-list" data-ng-show="cal.eventslist.length > 0">
	
		<li>
			<div class="checkbox checkbox-mycal">
				<input type="checkbox" id="cat-sel-all" name="cat-sel-all" data-ng-model="cal.eventsCatSelectAll" data-ng-change="cal.setEventsCatSelectAll();">
				<label for="cat-sel-all"> Select All </label>
			</div>
		</li>

		<ng-include src="'mycal/calendar/categories.list.html'"></ng-include>
	</ul>
</div>

<div class="cal-wrapper clearfix">

	<ul class="cal-weekdays">
		<li>Sun</li>
		<li>Mon</li>
		<li>Tue</li>
		<li>Wed</li>
		<li>Thu</li>
		<li>Fri</li>
		<li>Sat</li>
	</ul>
	
	

	<ul class="cal-daycells clearfix">

		<li data-ng-class="{inactive : days.status == 'I'}" data-ng-repeat="days in cal.calendar track by $index">

			<a>{{ days.day }}</a>

			<div class="cal-events-wrapper">
				<div class="cal-events clearfix" data-ng-repeat="eve in days.events | EventsByCatFilter:cal.typeIds | limitTo: cal.eventsPerCell track by $index ">
					<span style="background-color: {{ eve.color }};"></span>
					<span data-ng-bind="eve.title" ></span>
				</div>
			</div>
			
			<data-events-more-button data-ng-if="days.events.length > cal.eventsPerCell" data-allowed-events="{{ cal.eventsPerCell }}"></data-events-more-button>
			
		</li>			

	</ul>
	
	<!--<textarea name="" id="" cols="30" rows="10">
		{{ cal.calendar }}
	</textarea>-->
	
</div>