<div class="menu-right-wrapper clearfix" data-ng-controller="TopCtrl">

	<data-prev-next-button data-direction="prev" model-month-year="modelMonthYear"> </data-prev-next-button>
	
	
	<div class="menu-selbox ">
		<select data-ng-model="modelMonthYear.month" data-ng-options="month.monthnum as month.monthname for month in months" class="form-control">
			<!--<option value="">[--MONTH--]</option>-->
		</select>
	</div>

	<div class="menu-selbox">
		<select data-ng-model="modelMonthYear.year" data-ng-options="year for year in years" class="form-control">
			<!--<option value="">[--YEAR--]</option>-->
		</select>
	</div>

	<data-prev-next-button data-direction="next" model-month-year="modelMonthYear"> </data-prev-next-button>
	
</div>